google==3.0.0
google-api-core==2.14.0
google-api-python-client==2.117.0
google-auth==2.23.4
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud==0.34.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
pandas==2.2.0
pytz==2023.3
requests==2.31.0